<p><span class="A87lA _0cLnb RnT3L"><span class="EFFJc"><img class="KRQ9s" src="https://cdn.culture.ru/images/d07e3b09-a891-5a3a-9d7b-4646ad85b46f/w_100,h_100,c_fill,g_attention/blok.jpg" alt="" /></span></span></p>
<div class="IHYwd">Александр Блок</div>
<div class="xtEsw">Ночь, улица, фонарь, аптека&hellip;</div>
<div class="lsom6">
<div class="qPf9A">
<div class="xZmPc">
<p class="">Ночь, улица, фонарь, аптека,<br />Бессмысленный и&nbsp;тусклый свет.<br />Живи еще хоть четверть века &mdash;<br />Всё будет&nbsp;так. Исхода&nbsp;нет.</p>
<p class="">Умрешь&nbsp;&mdash; начнешь опять сначала<br />И&nbsp;повторится всё, как встарь:<br />Ночь, ледяная рябь канала,<br />Аптека, улица, фонарь.</p>
<div class="ZJO6Q">1912&nbsp;г.</div>
</div>
</div>
</div>